<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
    <title>{% block title %}Employee Management{% endblock %}</title>
</head>
<body style="max-width: 1200px; margin: 0 auto;">
<div class="container">

    <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <p style="text-align: center;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

<!-- {% for employee in employees %}
    {% if employee.empID|stringformat:"s" == request.user.username %}
                                    
    {% endif %}
{% endfor %} -->


    <menu style="display: flex; justify-content: space-between; align-items: center; width: 100%; padding-bottom: 10px;">
        {% if user.is_superuser %}
                <div style="display: flex; gap: 20px;">
                    <li class="selected"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'add_employee' %}">Add Employee</a></li>
                    <li><a href="{% url 'change_password' %}">Change Password</a></li>
                </div>
        
                <div style="display: flex; gap: 20px;">
                    <li><strong>Welcome: {{ request.user.first_name }} {{ request.user.last_name }} ({{ request.user }})</strong></li>
                    <li><a href="{% url 'logout_view' %}">Logout</a></li>
                </div>
        
            {% else %}
            
                <div style="display: flex; gap: 20px;">
                    <li class="selected"><a href="{% url 'home' %}">Home</a></li>
                    <li class="selected"><a href="{% url 'change_password' %}">Change Password</a></li>
                </div>
                
                <div style="display: flex; gap: 20px;">
                    <li><strong>Welcome: {{ employee.name }} ({{ request.user.username }})</strong></li>
                    <li><a href="{% url 'logout_view' %}">Logout</a></li>
                </div>
                
        {% endif %}
    </menu>

{% block content %}
        
        
{% endblock %}

</div>
</body>
</html>